.cxx/
.externalNativeBuild/
.gradle/
.idea/
.navigation/
.vs*/
__pycache__/
app/release/
bin/
build/
captures/
emails/
env/
gen/
out/
proguard/

*.apk
*.aab
*.hprof
*.iml
*.jks
*.keystore
*.log
.DS_Store*
.project
.settings
app/.classpath
app/.project
app/.settings
deploymentTargetDropDown.xml
google-services.json
local.properties
misc.xml
new_appfilter.xml
new_drawable.xml
output.json
render.experimental.xml
