*a.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.DS_Store
*.hprof
*.iml
*.jks
*.keystore
*.log
*.pyc
.cxx/
.DS_Stores
.externalNativeBuild/
.gradle/
.idea/
.navigation/
.project
.settings
.vscode/
__pycache__/
app/.classpath
app/.project
app/.settings
app/release/
bin/
build/
captures/
deploymentTargetDropDown.xml
email/
gen/
google-services.json
local.properties
misc.xml
new_drawable.xml
out/
output.json
proguard/
render.experimental.xml
resources/utilities/emails/
resources/utilities/icons/
updatable.txt
