name: Check for Conflicts
run-name: conflicts @ ${{ github.sha }}

on:
  workflow_dispatch:
  pull_request:
    paths:
      - contribs/**

jobs:
  build:
    name: Check for Conflicts
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: resources/scripts
    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: pip

    - name: Install Python deps
      run: |
        pip install -r requirements.txt

    - name: Add icons
      run: |
        python -u add_icons_wrapper.py
