name: Update Requests
run-name: requests @ ${{ github.sha }}

concurrency:
  group: delta

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  update:
    name: Update Requests
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: resources/scripts
    steps:

    - name: Checkout
      uses: actions/checkout@v5
      with:
        token: ${{ secrets.PA_TOKEN }}

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: pip

    - name: Install Python deps
      run: |
        pip install -r requirements.txt

    - name: Dump emails
      run: |
        python -u email_dumper.py \
          -u '${{ secrets.EMAIL_ADDRESS }}'  \
          -p '${{ secrets.EMAIL_PASSWORD }}' \
          -r '${{ secrets.EMAIL_FOLDER }}'

    - name: Parse emails
      run: |
        python -u email_parser.py

    - name: Parse requests
      run: |
        python -u requests_parser.py -r

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Update requests.yml
        file_pattern: contribs/requests.yml
